<app-navbar></app-navbar>
<app-main></app-main>

<section class="py-4 d-flex flex-column">
  <div class="d-flex flex-column align-items-center text-center">
      <h1 class="font-title lh-base t1 mb-4">TodoServy <br> Directorio Premium Online</h1>
      <p class="font-p sm-dn mb-5">Si eres profesional o independiente, ofrece tus servicios y muestra tus reseñas y calificaciones, garantiza pagos seguros y <br> <b> gana popularidad en tu ciudad.</b></p>
      <p class="font-p sm-di d-none mb-5"><b>Ofrece tus servicios,</b> muestra tus reseñas y consigue visibilidad frente a miles de clientes.</p>
      <a class="btn rounded-pill text-white sm-dn px-4 py-2" style="background-color: #078BFB;">¡Crea tu perfil Profesional/Independiente gratis!</a>
      <a class="btn rounded-pill text-white sm-di d-none px-4 py-2" style="background-color: #078BFB;">¡Crea tu perfil y consigue clientes!</a>
  </div>

  <div class="swiper mySwiper sm-w-100 w-50 py-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide d-flex flex-column">
        <img src="./../../../assets/img/3-1.webp" alt="">
        <p>Tu perfil personalizado mostrando categorías, estudios, horarios, reseñas y mucho más</p>
      </div>
      <div class="swiper-slide d-flex flex-column">
        <img src="./../../../assets/img/3-2.webp" alt="">
        <p>Obtén un sello de verificación de tus credenciales, licencias y diplomas.</p>
      </div>
      <div class="swiper-slide d-flex flex-column">
        <img src="./../../../assets/img/3-3.webp" alt="">
        <p>Muestra todos los servicios que prestas, sin importar el tipo.</p>
      </div>
      <div class="swiper-slide d-flex flex-column">
        <img src="./../../../assets/img/3-4.webp" alt="">
        <p>Tu perfil profesional contará con toda la información, reviews y ratings de toda presencia online</p>
      </div>
      <div class="swiper-slide d-flex flex-column">
        <img src="./../../../assets/img/3-5.webp" alt="">
        <p>Perfil optimizado para que puedas ofrecer una opción de agendamiento en línea.</p>
      </div>
      
    </div>
    <div class="swiper-button-next sm-dn">
      <i class="uil uil-angle-right-b swiper-portafolio-icon"></i>
    </div>
    <div class="swiper-button-prev sm-dn">   
      <i class="uil uil-angle-left-b swiper-portafolio-icon"></i> 
    </div>
    <div class="swiper-pagination"></div>
  </div>
  
</section>

<section class="py-5 d-flex flex-column align-items-center">
  <div class="font-title t1 text-center mb-5" >
      <span style="color:#078BFB">TodoServy</span>
      es visibilidad y confianza <br> frente a tus clientes
  </div>
  <div class="d-flex sm-fd-cr justify-content-evenly sm-w-100 w-75 mt-3">
      
      <div class="col-4 sm-py-3 sm-w-100">
          <h2 class="font-title fs-2 mb-4">
            TodoServy Web​
          </h2>
          <div class="sm-dn">
              <p class="font-p mb-4">Todas las reseñas y comentarios de la web unificadas sobre ti, como profesional en TodoServy.
                <br><br>
                Tus clientes podrán encontrar todos los servicios que ofreces y ver las calificaciones en tu perfil.
            </p>
            <span><a href="#">Mira como crear tu perfil profesional ></a></span>
            <div class="my-4">
                <img class="me-2" width="30px" src="../../../assets/img/shield.png" alt="">
                <span class="fs-5" style="color: #63CB75;"> <b>Inspiramos confianza</b> </span>
            </div>
            <p class="font-p mb-4">En TodoServy validamos tus licencias, diplomas y credenciales para dar más confianza a los usuarios.
              <br><br>
              Toda la información en nuestra plataforma universal y unificada serán un motivo de confianza para que tus clientes agenden tus servicios.</p>
          </div>
          <div class="sm-di d-none">
            <p class="font-p mb-4">Todas las reseñas y comentarios de la web unificadas sobre ti en tu perfil.
              <br><br>
              Miles de clientes buscando tus servicios para contratarte.
          </p>
          <span><a href="#">Mira como crear tu perfil profesional ></a></span>
          <div class="my-4">
              <img class="me-2" width="30px" src="../../../assets/img/shield.png" alt="">
              <span class="fs-5" style="color: #63CB75;"> <b>Inspiramos confianza</b> </span>
          </div>
          <p class="font-p mb-4">Validamos tu perfil a través de tus credenciales para darte un perfil verificado.
            <br><br>
            Tu servicio está garantizado y las personas te agendarán.</p>
          </div>
      </div>
      <div class="w-50 sm-py-3 sm-w-100">
        <img class="w-100" src="./../../../assets/img/prof-img.png" alt="">
    </div>
      
  </div>
</section>

<section class="py-5">
  <div class="d-flex sm-fdc justify-content-evenly align-items-start" >
      <div class="sm-w-100 border-top border-bottom py-4" style="width: 40%;">
          <h2 class="font-title fs-2 mb-4" style="color:#078BFB">TodoServy es <br> Universal​</h2>
          <p class="mb-0">En TodoServy, puedes ofrecer una amplia variedad de servicios si eres un profesional o independiente en tu ciudad.</p><br>
          <div class="answer" id="answer-text">
              <p>Puedes ofrecer cualquier servicio, no importa si es de barbería, como entrenador personal, mecánico de carros, médico particular o cualquier otro, en TodoServy lo puedes hacer.
                <br><br>
                Nuestra plataforma es universal, lo que significa que no está limitada a una sola área geográfica o industria específica.
                <br><br>
                Además, al tener todos los servicios en un solo lugar, tus clientes podrán comparar fácilmente precios y calidad antes de tomar una decisión, asegurándose de obtener el mejor profesional.
                <br><br>
                ¡Únete a TodoServy hoy mismo y ofrece tus servicios con facilidad y rapidez!
              </p>
          </div>
          <span class="read text-primary" id="read-text" style="cursor: pointer;">Conoce más aquí</span>
      </div>
      <div class="sm-w-100 border-top border-bottom py-4" style="width: 40%;">
          <h2 class="font-title fs-2 mb-4" style="color:#078BFB">TodoServy es <br> Unificado​​</h2>
          <p class="mb-0">En TodoServy, contamos con una sección de reseñas y valoraciones en la que puedes mostrar a todos los comentarios y opiniones que se encuentran en internet sobre tus servicios registrados en la plataforma.</p><br>
          <div class="answer2" id="answer2-text">
              <p>Esto brinda una visión completa y precisa de la reputación y calidad de lo que ofreces, lo que permite a tus clientes ver que eres confiable y que tienes experiencia para brindarle un servicio de calidad.
              </p>
          </div>
          <span class="read2 text-primary" id="read2-text" style="cursor: pointer;">Conoce más aquí</span>
      </div>
      

  </div>

</section>

<section class="portfolio section d-flex flex-column justify-content-center align-items-center py-5" id="portfolio">

  <div class="w-50 sm-w-100 text-center mb-5">
      <h2 class="font-title fs-1 mb-5">Agendamiento <br> revolucionario online</h2>
      <p class="font-p mb-4 sm-dn">TodoServy está optimizado para que puedas ofrecer una opción de agendamiento en línea, de esta forma tus clientes pueden conocer tu disponibilidad y agendar tus servicios de manera efectiva.
      </p>
      <p class="font-p mb-4 sm-di d-none">Cuentas con un calendario revolucionario online para que tus clientes puedan reservar tus servicios sin necesidad de contactarte.¡Es fácil y rápido!
      </p>
    <span class="font-p mb-4 fs-5 sm-dn"> <b>¡Puedes incluir más de un tipo de servicio en tu perfil profesional! No tienes límites</b> </span>
  </div>

  <div class="swiper mySwiper2 sm-w-100 w-50 pb-5">
      <div class="swiper-wrapper">
        <div class="swiper-slide d-flex flex-column">
          <img class="mb-3" src="./../../../assets/img/4-1.webp" alt="">
        </div>
        <div class="swiper-slide d-flex flex-column">
          <img class="mb-3" src="./../../../assets/img/4-2.webp" alt="">
        </div>
        <div class="swiper-slide d-flex flex-column">
          <img class="mb-3" src="./../../../assets/img/4-3.webp" alt="">
        </div>
        <div class="swiper-slide d-flex flex-column">
          <img class="mb-3" src="./../../../assets/img/4-4.webp" alt="">
        </div>
        
      </div>
      <div class="swiper-button-next sm-dn">
        <i class="uil uil-angle-right-b swiper-portafolio-icon"></i>
      </div>
      <div class="swiper-button-prev sm-dn">   
        <i class="uil uil-angle-left-b swiper-portafolio-icon"></i> 
      </div>
      <div class="swiper-pagination"></div>
    </div>

  
</section>

<section class="py-5">
  <div class="d-flex sm-fdc justify-content-center">
      <div class="w-25 sm-w-100 sm-px-0 sm-mx-0 px-4 mx-3">
          <div class="pb-3">
              <img width="40px" src="../../../assets/img/ievery.png" alt="">
          </div>
          <div>
              <h2 class="font-title fs-3 lh-base mb-3">
                  Todos los servicios a la mano
              </h2>
              <p class="font-p">
                Ofrece los servicios que quieras y los usuarios te encontrarán.
                <br><br>
                Si eres independiente, jardinero, plomero, abogado, médico o de cualquier otra profesión, TodoServy es para ti.
              </p>
          </div>
  
      </div>
      <div class="w-25 sm-w-100 sm-px-0 sm-mx-0 px-4 mx-3">
          <div class="pb-3">
              <img width="40px" src="../../../assets/img/ipay.png" alt="">
          </div>
          <div>
              <h2 class="font-title fs-3 lh-base mb-3">
                  Pagos 100% seguros
              </h2>
              <p class="font-p">
                Los pagos de tus clientes nunca fueron más seguros. ¡Todos los medios disponibles!
                <br><br>
                Efectivo, transferencias bancarias o tarjetas de crédito y débito.
              </p>
          </div>


      </div>
  </div>
</section>

<section class="py-5 d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center sm-w-100 w-50 border-gradient">
      <div class="p-5 sm-p-3">
          <div class="d-flex flex-column align-items-center text-center">
              <img width="50rem" src="./../../../assets/img/corona.png" alt="">
              <h2 class="font-title fs-1 m-4">Obtén todos los beneficios <br> <span class="gradient-text">¡Únete a Premium!</span></h2>
          </div>
          <div class="d-flex sm-fdc ls">
              <div class="sm-dn">
                  <p class="w-50 sm-w-100 font-p sm-px-0 p-3">Si te registras como profesional o independiente y accedes a Premium, tu visibilidad aumentará significativamente: aparecerás en los primeros resultados dentro de TodoServy.</p>
                  <p class="w-50 sm-w-100 font-p sm-px-0 p-3">Con tu perfil premium tendrás un identificador en tu nombre que demuestra que eres uno de los más calificados para ese servicio. Miles de usuarios están esperando para contratarte.</p>
              </div>
              <div class="sm-di d-none">
                  <p class="w-50 sm-w-100 font-p sm-px-0 p-3">Si accedes a Premium, tu visibilidad aumentará: aparecerás en los primeros resultados de TodoServy.</p>
                  <p class="w-50 sm-w-100 font-p sm-px-0 p-3">Con la insignia Premium demuestras que eres uno de los más calificados para ese servicio.</p>
              </div>
          </div>
          <div class="d-flex flex-column align-items-center sm-mx-0 m-4">
              <ul class="list-unstyled font-title fs-5" >
                  <li>
                      <i class="uil uil-plus text-primary me-2 fs-4"></i>
                      Verificación de credenciales, licencias y diplomas
                  </li>
                  <li>
                      <i class="uil uil-plus text-primary me-2 fs-4"></i>
                      Visibilidad premium
                  </li>
                  <li>
                      <i class="uil uil-plus text-primary me-2 fs-4"></i>
                      Ofertar servicios ilimitados
                  </li>
                  <li>
                      <i class="uil uil-plus text-primary me-2 fs-4"></i>
                      Botón que direcciona a WhatsApp
                  </li>
                  <li>
                      <i class="uil uil-plus text-primary me-2 fs-4"></i>
                      Acceso ilimitado al calendario y agendamiento online
                  </li>
                  <li>
                      <i class="uil uil-plus text-primary me-2 fs-4"></i>
                      Recibe pagos 100% seguros a través de TodoServy
                  </li>
              </ul>
          </div>
          <div class="d-flex justify-content-center">
              <a class="btn btn-gradient rounded-pill px-4">¡Únete a Premium!</a>
          </div>
      </div>
  </div>
</section>

<section class="py-5 mb-5">
  <div class=" text-center mb-5" >
      <h2 class="font-title fs-2">Preguntas Frecuentes</h2>
  </div>
  <div class="d-flex sm-fdc sm-aic justify-content-center">
      <div class="w-25 sm-w-75">
          <img class="w-100 " src="../../../assets/img/imagen_queestodoservy__preguntas_frecuentes.webp" alt="">
      </div>
      <div class="w-50 sm-w-100 d-flex flex-column pt-5">
          <div class=" acordion sm-p-0 px-5">
              <div class="head d-flex  justify-content-between align-items-center p-3" style="cursor: pointer;">
                  <h3 class="font-p fs-5 mb-0 ">¿Para qué sirve TodoServy?</h3>
                  <span class="fw-bold icon fs-5"></span>
              </div>
              <div class="content font-p"> <p class="p-3"> Con Todoservy puedes solicitar servicios de profesionales o empresas de manera fácil y rápida, todo gratis. Ya sea para trabajos en tu hogar, oficina o cualquier otra necesidad, encuentra el especialista o emprendimiento adecuado en nuestro directorio premium online, unificado y universal.</p></div>
          </div>
          <div class=" acordion sm-p-0 px-5">
              <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                  <h3 class="font-p fs-5 mb-0 ">¿Cómo me registro en TodoServy?</h3>
                  <span class="fw-bold icon fs-5"></span>
              </div>
              <div class="content font-p"> <p class="p-3"> Los pasos para registrarte en TodoServy son los siguientes:</p>
                  <ol>
                      <li>Haz clic en “Registro”.</li>
                      <li>Selecciona la opción “Cliente” y haz clic en continuar.</li>
                      <li>Llena el formulario, acepta los términos y condiciones.</li>
                      <li>Por último, haz clic en el botón “Registro” y verifica tu correo electrónico.</li>
                  </ol>
              </div>
          </div>
          <div class=" acordion sm-p-0 px-5">
              <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                  <h3 class="font-p fs-5 mb-0 ">¿TodoServy funciona a nivel nacional en Colombia?</h3>
                  <span class="fw-bold icon fs-5"></span>
              </div>
              <div class="content font-p"> <p class="p-3"> TodoServy se enfoca en brindar un servicio de calidad mediante la geolocalización. Conectamos a clientes con profesionales, independientes y empresas cercanas a su ubicación. Aunque nuestra meta es expandirnos en toda Colombia, en este momento nos enfocamos en Bogotá, Cali, Medellín, Cartagena y Barranquilla</p></div>
          </div>
          <div class=" acordion sm-p-0 px-5">
              <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                  <h3 class="font-p fs-5 mb-0 ">¿Cómo verifico mi perfil mi negocio en TodoServy?</h3>
                  <span class="fw-bold icon fs-5"></span>
              </div>
              <div class="content font-p"> <p class="p-3"> Para verificar tu perfil de usuario en TodoServy solo tienes que buscar el mensaje que llegó a tu correo electrónico, con el que registraste la empresa, y hacer clic sobre el enlace de verificación.</p></div>
          </div>
          <div class=" acordion sm-p-0 px-5">
              <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                  <h3 class="font-p fs-5 mb-0 ">¿Cuánto me cuesta ser Premium en TodoServy?</h3>
                  <span class="fw-bold icon fs-5"></span>
              </div>
              <div class="content font-p"> <p class="p-3"> ¡Con TodoServy no tienes que preocuparte por costos! Registra tu negocio, es gratis. Ahora, si quieres obtener más funcionalidades y mejorar la visibilidad de tu empresa, hazte premium y deja que miles de clientes te encuentren. Haz clic aquí para conocer el plan Premium para profesionales e independientes.</p></div>
          </div>
          
      </div>
      
  </div>
</section>

<section class="py-5 mb-5">
  <div class="d-flex sm-fdc sm-aic justify-content-center">
      <div class="sm-w-75 d-flex flex-column shadow-lg rounded-5 text-center justify-content-center sm-mx-0 mx-4 p-5" style="width: 20%;">
          <h2 class="font-p text-primary mb-3 fs-1" >
              +2000
          </h2>
          <p class="font-p mb-0">Negocios, Profesionales e independientes</p>
      </div>
      <div class="sm-w-75 d-flex flex-column shadow-lg rounded-5 text-center justify-content-center sm-mx-0 mx-4 p-5" style="width: 20%;">
          <h2 class="font-p text-primary mb-3 fs-1">
              11
          </h2>
          <p class="font-p mb-0">Ciudades en <br> Colombia</p>
      </div>
      <div class="sm-w-75  d-flex flex-column shadow-lg rounded-5 text-center justify-content-center sm-mx-0 mx-4 p-5" style="width: 20%;">
          <h2 class="font-p text-primary mb-3 fs-1">
              +120
          </h2>
          <p class="font-p mb-0">Tipos de servicios
              disponibles</p>
      </div>
  </div>


</section>

<section class="py-5 mb-5">
  <div class="d-flex sm-fdc justify-content-center align-items-center">
      <div class="w-25 sm-w-100 sm-py-3  text-center">
          <img width="70%" class="rounded-5" src="./../../../assets/img/image 8.png" alt="">
      </div>
      <div class="w-25 sm-w-100 d-flex flex-column ">
          <p class="font-title fs-5 fst-italic  mb-5">"TodoServy está hecho para ayudar a encontrar el proveedor de servicios que necesitas, y a los profesionales a digitalizar su oferta de servicios, tener un mayor alcance de clientes y un nuevo canal de ventas."</p>
          <span class="font-p"> <b>Juan Sarmiento</b> </span>
          <span >President & Co-Founder</span>
  
      </div>
     
  </div>
</section>
