<nav class="navbar navbar-expand-lg fixed-top px-4 bg-white">
    <div class="container-fluid ps-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
      <a class="navbar-brand" href="#">
        <img src="./../../../assets/img/logo.svg" style="width: 12rem;" alt="">
      </a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark font1 px-4" aria-current="page" href="#">Reclama tu Negocio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark font1 px-4" href="#">Hazte profesional</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-dark font1 dropdown-toggle px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Más de TodoServy 
            </a>
            <ul class="pt-0 dropdown-menu" style="border: none">
              <li><hr class=" mt-0 dropdown-divider" style="border: 3px solid #078bf7;"></li>
              <li><a class="dropdown-item" href="#">¿Que es TodeServy?</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Hazte premium</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Terminos y Condiciones</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link font1 text-primary px-4" href="#">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link font1 text-black px-4" style="color:black" href="#">Contactanos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link font1 text-dark  px-4" href="#">Registro</a>
          </li>

          <li class="nav-item ps-4">
            <a class="btn btn-primary text-center pe-3 rounded-pill fw-bold" style="padding-left: 16px !important;" href="#">Inicia Sesión</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
