<app-navbar></app-navbar>
<app-main></app-main>

<section class="py-4 mb-5 d-flex flex-column">
    <div class="d-flex flex-column align-items-center pb-5 text-center">
        <h1 class="font-title t1 lh-base  mb-4">TodoServy <br> Directorio Premium Online</h1>
        <p class="font-p none mb-5">Busca, compara, reserva y paga de forma segura todos los servicios de <br>
            profesionales, independientes y negocios aquí.</p>
        <p class="font-p initial d-none mb-5"> <b>Busca, compara, reserva y paga</b>  de forma segura todos los servicios.</p>
        <a class="btn rounded-pill text-white px-4 py-2" style="background-color: #078BFB;">Registrate</a>
    </div>
    <div class="d-flex justify-content-center">
        <img class="w-75 img1" src="./../../../assets/img/imagen_queestodoservy__clientes01.webp" alt="">
    </div>
</section>

<section class="py-5">
    <div class="font-title t1 text-center mb-5" >
        <span style="color:#078BFB">TodoServy</span>
        para que encuentres <br> el servicio que necesitas
    </div>
    <div class="cont1 d-flex justify-content-evenly">
        <div class="desc1 w-25 ps-5">
            <h2 class="font-title fs-2 mb-4">
                TodoServy Web
            </h2>
            <div class="none">
                <p class="font-p mb-4">La plataforma Universal donde podrás encontrar todos los servicios sin importar la categoría o industria.</p>
            <p class="font-p mb-4">Encuentra todas las reseñas y comentarios unificados sobre un profesional, independiente, negocio o emprendimiento digital en TodoServy.</p>
            <div class="mb-4">
                <img class="me-2" width="30px" src="../../../assets/img/shield.png" alt="">
                <span class="fs-5" style="color: #63CB75;"> <b>Inspiramos confianza</b> </span>
            </div>
            <p class="font-p mb-4">TodoServy realiza una verificación de credenciales, licencias y diplomas para garantizar la calidad, la experiencia y el conocimiento de los negocios, profesionales e independientes.</p>
            <span class="font-p"> <b>Tu servicio está garantizado.</b> </span>
            </div>
            <div class="initial d-none">
                <p class="font-p mb-4">La plataforma Universal donde encuentras todos los servicios sin importar la categoría.</p>
            <p class="font-p mb-4">Revisa las reseñas y comentarios unificados sobre un profesional, independiente o negocio.</p>
            <div class="mb-4">
                <img class="me-2" width="30px" src="../../../assets/img/shield.png" alt="">
                <span class="fs-5" style="color: #63CB75;"> <b>Inspiramos confianza</b> </span>
            </div>
            <p class="font-p mb-4">TodoServy realiza una verificación de credenciales para garantizar las aptitudes de los profesionales, independientes y la legalidad de los negocios</p>
            <span class="font-p"> <b>Tu servicio está garantizado.</b> </span>
            </div>
    
        </div>
        <div class="w-50 img2">
            <img class="w-100 " src="./../../../assets/img/imagen_queestodoservy__clientes02.webp" alt="">
        </div>
    </div>
</section>

<section class="py-5">
    <div class="sec2 d-flex justify-content-evenly align-items-start" >
        <div class=" sm-w-100 border-top border-bottom py-4" style="width: 40%;">
            <h2 class="font-title fs-2 mb-4" style="color:#078BFB">TodoServy es <br> Universal​</h2>
            <p class="mb-0">En TodoServy, tienes acceso a todos los servicios que ofrecen profesionales, independientes, negocios y empresas en tu ciudad.</p><br>
            <div class="answer" id="answer-text">
                <p>Esto significa que, no importa qué servicio necesites, desde reparaciones en el hogar hasta peluquerías caninas, todo está disponible en TodoServy.
                    <br><br>
                    TodoServy es universal, quiere decir que no solo se limita a una cierta área geográfica o una industria específica, sino que abarca todos los servicios disponibles en tu ciudad.
                    <br> <br>      
                    Al tener todos los servicios disponibles en un solo lugar, también puedes comparar fácilmente precios y calidad de servicio antes de tomar una decisión.
                </p>
            </div>
            <span class="read text-primary" id="read-text" style="cursor: pointer;">Conoce más aquí</span>
        </div>
        <div class=" sm-w-100 border-top border-bottom py-4" style="width: 40%;" >
            <h2 class="font-title fs-2 mb-4" style="color:#078BFB">TodoServy es <br> Unificado​​</h2>
            <p class="mb-0">En TodoServy, tienes acceso a todos los servicios que ofrecen profesionales, independientes, negocios y empresas en tu ciudad.</p><br>
            <div class="answer2" id="answer2-text">
                <p>Al tener acceso a estas reseñas, puedes tomar una decisión acertada sobre a quién contratar.
                    <br><br>
                    No pierdas tiempo buscando reseñas en diferentes sitios web, todo está unificado en TodoServy.
                </p>
            </div>
            <span class="read2 text-primary" id="read2-text" style="cursor: pointer;">Conoce más aquí</span>
        </div>
        

    </div>

</section>

<section class="py-5">
    <div class=" sec3 d-flex justify-content-center">
        <div class="sec3-1 w-25 px-4 mx-3">
            <div class="pb-3">
                <img width="40px" src="../../../assets/img/icalendar.png" alt="">
            </div>
            <div>
                <h2 class="font-title fs-3 lh-base mb-3">
                    Agendamiento en línea revolucionario​
                </h2>
                <p class="font-p none">
                    Cuentas con un calendario revolucionario online para agendar el servicio que deseas sin intermediarios. Revisas la disponibilidad del profesional, independiente o el negocio y agendas tu servicio.
                </p>
                <p class="font-p initial d-none">
                    Revisas la disponibilidad del profesional o el negocio y agendas tu servicio. ¡Ya está!
                </p>
            </div>
    
        </div>
        <div class="sec3-1 w-25 px-4 mx-3">
            <div class="pb-3">
                <img width="40px" src="../../../assets/img/ievery.png" alt="">
            </div>
            <div>
                <h2 class="font-title fs-3 lh-base mb-3">
                    Todos los servicios a la mano
                </h2>
                <p class="font-p none">
                    Encuentra en TodoServy los servicios comunes, como jardinería, plomería, veterinaria, electricista, y los menos comunes; como masajes relajantes, empresas de seguridad y más.
                </p>
                <p class="font-p initial d-none ">
                    Encuentra en TodoServy los servicios de siempre y los no tan comunes en tu ciudad.
                </p>
            </div>
    
        </div>
        <div class="sec3-1 w-25 px-4 mx-3">
            <div class="pb-3">
                <img width="40px" src="../../../assets/img/ipay.png" alt="">
            </div>
            <div>
                <h2 class="font-title fs-3 lh-base mb-3">
                    Pagos 100% seguros
                </h2>
                <p class="font-p none">
                    Paga por los servicios contratados a través de una plataforma 100% online y segura. También puedes pagar en efectivo, transferencia bancaria y con tarjeta de crédito y débito.
                </p>
                <p class="font-p initial d-none ">
                    Paga los servicios a través de una plataforma segura, en efectivo, transferencias y tarjetas crédito o débito.
                </p>
            </div>
    
        </div>
    </div>
</section>

<section class="py-5 mb-5">
    <div class="sec4 d-flex justify-content-evenly align-items-center">
        <div class="sec4-1 w-50 text-center">
            <img width="70%" src="./../../../assets/img/image3.png" alt="">
        </div>
        <div class="sec4-1 w-25 d-flex flex-column ">
            <h2 class="font-title mb-4">
                App Todoservy​
            </h2>
            <p class="font-p mb-4">Busca, agenda, paga y califica el servicio que necesitas desde la palma de tu mano, con la App TodoServy.​​</p>
            <span class="font-p mb-4"> <b>¡Es 100% gratis!</b> </span>
            <a class="btn btn-app rounded-pill text-white px-4 py-2 w-50" style="background: transparent linear-gradient(90deg, #0095FF 0%, #15F4C9 100%);">Descarga la App</a>
    
        </div>
       
    </div>
</section>

<section class="py-5 mb-5">
    <div class=" text-center mb-5" >
        <h2 class="font-title fs-2">Preguntas Frecuentes</h2>
    </div>
    <div class="sec5 d-flex justify-content-center">
        <div class="sec5-1-img w-25">
            <img class="w-100" src="../../../assets/img/imagen_queestodoservy__preguntas_frecuentes.webp" alt="">
        </div>
        <div class="sec5-1 w-50 d-flex flex-column pt-5">
            <div class=" acordion px-5">
                <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                    <h3 class="font-p fs-5 mb-0 ">¿Para qué sirve TodoServy?</h3>
                    <span class="fw-bold icon fs-5"></span>
                </div>
                <div class="content font-p"> <p class="p-3"> Con Todoservy puedes solicitar servicios de profesionales o empresas de manera fácil y rápida, todo gratis. Ya sea para trabajos en tu hogar, oficina o cualquier otra necesidad, encuentra el especialista o emprendimiento adecuado en nuestro directorio premium online, unificado y universal.</p></div>
            </div>
            <div class=" acordion px-5">
                <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                    <h3 class="font-p fs-5 mb-0 ">¿Cómo me registro en TodoServy?</h3>
                    <span class="fw-bold icon fs-5"></span>
                </div>
                <div class="content font-p"> <p class="p-3"> Los pasos para registrarte en TodoServy son los siguientes:</p>
                    <ol>
                        <li>Haz clic en “Registro”.</li>
                        <li>Selecciona la opción “Cliente” y haz clic en continuar.</li>
                        <li>Llena el formulario, acepta los términos y condiciones.</li>
                        <li>Por último, haz clic en el botón “Registro” y verifica tu correo electrónico.</li>
                    </ol>
                </div>
            </div>
            <div class=" acordion px-5">
                <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                    <h3 class="font-p fs-5 mb-0 ">¿TodoServy funciona a nivel nacional en Colombia?</h3>
                    <span class="fw-bold icon fs-5"></span>
                </div>
                <div class="content font-p"> <p class="p-3"> TodoServy se enfoca en brindar un servicio de calidad mediante la geolocalización. Conectamos a clientes con profesionales, independientes y empresas cercanas a su ubicación. Aunque nuestra meta es expandirnos en toda Colombia, en este momento nos enfocamos en Bogotá, Cali, Medellín, Cartagena y Barranquilla</p></div>
            </div>
            <div class=" acordion px-5">
                <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                    <h3 class="font-p fs-5 mb-0 ">¿Cómo verifico mi perfil de usuario en TodoServy?</h3>
                    <span class="fw-bold icon fs-5"></span>
                </div>
                <div class="content font-p"> <p class="p-3"> Para verificar tu perfil de usuario en TodoServy solo tienes que buscar el mensaje que llegó a tu correo electrónico, con el que te registraste, y hacer clic sobre el enlace de verificación.</p></div>
            </div>
            <div class=" acordion px-5">
                <div class="head d-flex justify-content-between align-items-center p-3" style="cursor: pointer;">
                    <h3 class="font-p fs-5 mb-0 ">¿Cuánto me cuesta solicitar un servicio?</h3>
                    <span class="fw-bold icon fs-5"></span>
                </div>
                <div class="content font-p"> <p class="p-3"> ¡Con TodoServy no tienes que preocuparte por costos! Descarga nuestra aplicación, regístrate, y tendrás acceso a todos los servicios que necesites. ¡Sin costo alguno!</p></div>
            </div>
            
        </div>
        
    </div>
</section>

<section class="cont2 py-5 mb-5">
    <div class="sec6 d-flex justify-content-center">
        <div class="sec6-1 d-flex flex-column shadow-lg rounded-5 text-center justify-content-center mx-4 p-5" style="width: 20%;">
            <h2 class="font-p text-primary mb-3 fs-1" >
                +2000
            </h2>
            <p class="font-p mb-0">Negocios, Profesionales e independientes</p>
        </div>
        <div class="sec6-1 d-flex flex-column shadow-lg rounded-5 text-center justify-content-center mx-4 p-5" style="width: 20%;">
            <h2 class="font-p text-primary mb-3 fs-1">
                11
            </h2>
            <p class="font-p mb-0">Ciudades en <br> Colombia</p>
        </div>
        <div class="sec6-1 d-flex flex-column shadow-lg rounded-5 text-center justify-content-center mx-4 p-5" style="width: 20%;">
            <h2 class="font-p text-primary mb-3 fs-1">
                +120
            </h2>
            <p class="font-p mb-0">Tipos de servicios
                disponibles</p>
        </div>
    </div>


</section>

<section class="py-5 mb-5">
    <div class="sec7 d-flex justify-content-center align-items-center">
        <div class="sec7-1 w-25  text-center">
            <img width="70%" class="rounded-5" src="./../../../assets/img/image 8.png" alt="">
        </div>
        <div class="sec7-1 w-25 d-flex flex-column ">
            <p class="font-title fs-5 fst-italic  mb-5">"TodoServy está hecho para ayudar a encontrar el proveedor de servicios que necesitas, y a los profesionales a digitalizar su oferta de servicios, tener un mayor alcance de clientes y un nuevo canal de ventas."</p>
            <span class="font-p"> <b>Juan Sarmiento</b> </span>
            <span >President & Co-Founder</span>
    
        </div>
       
    </div>
</section>

