<div class="main d-flex justify-content-center mb-5" style="margin-top: 130px !important;">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-dark border" [routerLink]="['/client']" routerLinkActive="active">Busco un servicio</button>
        <button type="button" class="btn btn-outline-dark border" [routerLink]="['/business']" routerLinkActive="active">Soy un Negocio</button>
        <button type="button" class="btn btn-outline-dark border" [routerLink]="['/profesional']" routerLinkActive="active">Soy un Profesional</button>
      </div>
</div>
